@model Book
<h1>Update book details</h1>

<form class="row g-3" action="/books/edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="col-md-6">
        <label class="form-label" asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Language"></label>
        <span asp-validation-for="Language" class="text-danger"></span>
        <input asp-for="Language" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Edition"></label>
        <span asp-validation-for="Edition" class="text-danger"></span>
        <input asp-for="Edition" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Publisher"></label>
        <input asp-for="Publisher" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="PublishedDate"></label>
        <input asp-for="PublishedDate" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Author"></label>
        <input asp-for="Author" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary w-25 float-end">Save</button>
    </div>
</form>
